{% extends 'tours/base.html' %}

{% block content %}


  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из {{departure_view}} </h1>
    {% if departure_view == tour_view.departure %}
    что-то есть
    {% else %}
    Если вы это видите, значит пока эту страницу не сделал 
    {% endif %}
    <p class="mb-4">Найдено 15 туров, от 26 000 до 84 600 и от 4 ночей до 15 ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
            {% for key,values in depart_tours.items %}

      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ values.picture }}" alt="" width="300" height="200"/>
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ values.title }}</h2>
            <p class="card-text">{{ values.description}}</p>
            <a href="/tour/{{ key }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>

      {% endfor %}


    </div>
  </main>

{% endblock %}